.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background-color: white; 
}

.main-content {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
}

.header {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  color: white; 
  transition: background-color 0.3s ease; 
}

.content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}